@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body,
html {
    /*- set to 100% of screen height & width -*/
    height:0;
    width:0;
    padding: 0;
    margin: 0;
}

#flex-container /*-- Flex parent element --*/{
    background: #444;
    /*- set to 100% of screen height & width -*/
    height: 100vh;
    width:100vw;
    /*- make it flexbox -*/
    display: flex;
    /*- horizantly align items to center -*/
    justify-content: center;
    /*- vertically align items to center -*/
    align-items: center;
    /* wrap items when its too big */
    flex-wrap: wrap;
    /* line items vertically */
    flex-direction: row;
}

ul {
    list-style: none;
}



.inner-center {
    padding-top: 150px;
    margin: 0.5em;
    /*- Center text -*/
    text-align: center;
}

.inner-fa {
    padding-top: 150px;
    align-self: center;
}

/**-- Text Styles --**/

.title {
    color: white;
    text-align: center;
    line-height: 1.5em;
    font-size: 2.5em;
    font-weight: 400;
    font-family: "Raleway","sans-serif"
}

.title span {
    color: #ff4081;
    font-weight: 700;
    font-family: "Raleway","sans-serif"
}

.sub-title {
    color: white;
    text-align: center;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: 300;
    font-family: "Raleway","sans-serif";
    padding-bottom: 2em;
    max-width: 600px;
}

/* FontAwesome Style */
.green {
    color: rgba(206, 236, 151, 0.171);
    font-size: 2em;
}

.pink {
    color: #ff4081;
    font-size: 1em;
    padding: 1em;
    text-decoration: none;
}

.pink:hover {
    color: #CEEC97;
}

.primary-btn{
    background-color: transparent;
    border-radius: 1em;
    border-color: #ff4081;
    border-style: solid;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    color: #ff4081;
}

.secondary-btn {
    background-color: transparent;
    border-radius: 1em;
    border-color: #CEEC97;
    border-style: solid;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    color: #CEEC97;
}

.secondary-btn:hover {
    background-color: #CEEC97;
    color: #fff;
}

.secondary-btn a {
    text-decoration: none;
    color: #CEEC97;
}

.secondary-btn a:hover {
    color: #ff4081;
}

