@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.btn-cta {
    display: inline-block;
    background-image: none;
    border: none;
    background-color: transparent;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    font-size: .8em;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: .5em;
    text-transform: uppercase;
  }

.btn-primary {
    background-color: transparent;
    color: #ff4081;
    border-radius: .5em;
    border: 2px solid #FF4081;
    padding: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.btn-reg {
    background-color: black;
    color: white;
    border-radius: .5em;
    border: 2px solid black;
    padding: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 4em;
    cursor: pointer;
}

.btn-log {
    background-color: white;
    color: black;
    border-radius: .5em;
    border: 2px solid white;
    padding: 7px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 4em;
    cursor: pointer;
}

.fab {
    font-size: 1.5em; color: white;
    margin: 5px;
    padding: 5px;
}

.fas {
    font-size: 1.5em; color: white;
    margin: 5px;
    padding: 5px;
}